@import "tailwindcss";

.animated-gradient {
  background: linear-gradient(90deg, #f97316, #000, #2563eb, #f97316);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: linear-gradient(90deg, #f97316, #000, #2563eb, #f97316);
  animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
body{
  max-width: 1440px;
  margin: 0 auto;
}